#logindiv{
    display: flex;
    align-items:baseline;

}
#registerdiv{
    display: flex;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    
}
#registerbtn{
   background-color: #006633;
   font-size: 20pt;
   font-family: 'Courier New', Courier, monospace ;
   color: white;
   align-items: center;
   justify-content: center;
}
